# HongWang Task1----SF Salaries Exercise

** Import pandas as pd.**

In [108]:
import pandas as pd

In [114]:
#df= pd.read_csv('../03-Python-for-Data-Analysis-Pandas/example')
#df= pd.read_csv('./testdir/Salaries.csv')

** Read Salaries.csv as a dataframe called sal.**

In [245]:
sal= pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [246]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [247]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

** What is the average BasePay ? **

In [248]:
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [249]:
sal['OvertimePay'].max()

245131.88

** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [253]:
## find index of an element in pandas DataFrame
#bool_JOSEPH = sal['EmployeeName']=='JOSEPH DRISCOLL'
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL','JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [254]:
sal['JobTitle'][sal['EmployeeName']=='JOSEPH DRISCOLL']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

 ** How much does JOSEPH DRISCOLL make (including benefits)? **

In [256]:
#bool_JOSEPH = sal['EmployeeName']=='JOSEPH DRISCOLL'
sal['TotalPayBenefits'][sal['EmployeeName']=='JOSEPH DRISCOLL']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [257]:
#Bool_HPP = sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()
sal['EmployeeName'][sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [260]:
sal.loc[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max(),'EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [263]:
#Bool_LPP = sal['TotalPayBenefits']==df_Salaries['TotalPayBenefits'].min()
sal['EmployeeName'][sal['TotalPayBenefits']==df_Salaries['TotalPayBenefits'].min()]
#print(Name_LPP)
#sal[Bool_LPP]

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [266]:
sal['BasePay'][sal['Year']==2011].mean()

63595.95651677314

In [267]:
sal['BasePay'][sal['Year']==2012].mean()

65436.40685742263

In [268]:
sal['BasePay'][sal['Year']==2013].mean()

69630.03021648065

In [269]:
sal['BasePay'][sal['Year']==2014].mean()

66564.42192449959

** How many unique job titles are there? **

In [270]:
len(sal['JobTitle'].unique())

2159

** What are the top 5 most common jobs? **

In [272]:
sal['JobTitle'].value_counts()[0:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

 ** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [286]:
#sal.loc[sal['Year']==2013,'JobTitle'].value_counts()
sal.loc[sal['Year']==2013,'JobTitle'].value_counts()[sal.loc[sal['Year']==2013,'JobTitle'].value_counts()==1].sum()
#bool_2013 = sal['Year']==2013
#Jobtitile_2013 = sal['JobTitle'][bool_2013]
#len(Jobtitile_2013)
#Frequ_job_2013 = Jobtitile_2013.value_counts()
#bool_Frequ_job_2013 = Frequ_job_2013 ==1
#print(sal[bool_Frequ_job_2013].sum())

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [332]:
Num = 0

for i in range(len(sal['JobTitle'])):

    fullstring = sal['JobTitle'][i]
    substring = 'CHIEF'
    #substring.lower() in (fullstring.lower() in list(sal['JobTitle']) )

    if substring.lower() in fullstring.lower():
        Num = Num+1
Num

627

In [336]:
s1 = sal['JobTitle']
s1.str.contains('Chief',case = True, regex = True).value_counts()

False    148231
True        423
Name: JobTitle, dtype: int64

# Hong Wang Task2--Ecommerce Purchases Exercise

In [115]:
ecom = pd.read_csv('Ecommerce Purchases')

In [117]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

How many rows and columns are there?

In [118]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

What is the average Purchase Price?

In [119]:
ecom['Purchase Price'].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [120]:
ecom['Purchase Price'].max()

99.99

In [121]:
ecom['Purchase Price'].min()

0.0

In [122]:
ecom['Purchase Price'].describe()

count    10000.000000
mean        50.347302
std         29.015836
min          0.000000
25%         25.150000
50%         50.505000
75%         75.770000
max         99.990000
Name: Purchase Price, dtype: float64

** How many people have English 'en' as their Language of choice on the website? **

In [136]:
ecom.loc[ecom['Language']=='en', 'Language'].count()

1098

In [132]:
ecom['Language'].value_counts()

de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

** How many people have the job title of "Lawyer" ? **

In [139]:
ecom.loc[ecom['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [140]:
ecom.loc[ecom['Job']=='Lawyer','Job'].count()

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [141]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [156]:
ecom['Job'].value_counts()[:5]
#ecom['Job'].value_counts()[::-1][:5] counting from bottom

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [157]:
ecom.loc[ecom['Lot']=='90 WT','Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [159]:
ecom.loc[ecom['Credit Card'] == 4926535242672853,'Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

* How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?**

In [168]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [170]:
ecom.loc[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price']>95),'Email'].count()

39

** Hard: How many people have a credit card that expires in 2025? **

In [244]:
date = []
for i in range(len(ecom['CC Exp Date'])):
    date.append(list(ecom['CC Exp Date'][i].split('/')))
    
df_date = pd.DataFrame(date, columns = ['Month', 'Year'])
bool= df_date['Year']=='25'
bool.value_counts()
#df_date['Year']
#df_date.head()

False    8967
True     1033
Name: Year, dtype: int64

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [216]:
data = []
for i in range(len(ecom['Email'])):
    data.append(list(ecom['Email'][i].split('@')))
    
df_data = pd.DataFrame(data, columns = ['Name', 'Host'])
df_data.head()
df_data['Host'].value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Host, dtype: int64